@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Gloock&family=Roboto:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page-section{
    width: 100%;
    height: 100%;
    background: url(Abib.webp);
    background-size: cover;
}
.top{
    text-decoration: none;
    color: white;
}
h6{
    text-align: center;
    padding: 2rem;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
.shop-now{
    position: absolute;
    top: 105%;
    left: 47%;
    background-color: black;
    padding: 10px 20px;
    border-radius: 6px;
    transform: translate3d(-50%, -50%);
}
.middle{
    font-size: 4rem;
    text-align: center;
}
.slide-container{
    padding: 40px 0;
}
.slide-content{
    margin: 0 40px;
    
}
.card-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card{
    background-color: white;
    width: 30%;
    position: relative;
}
.card-image{
    position: relative;
    height: 100%;
    width: 100%;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.add-to-bag{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .1rem solid;
    cursor: pointer;
    padding: 14px;
    margin: 1px;
}
.add-to-bag a{
    color:black;
    text-decoration: none;
}
.add-to-bag a:hover{
    font-weight: bold;
}
.price{
    color: red;
}
.description{
    color: #707070;
    font-size: 14px;
}
.fas{
    text-decoration: none;
    color: #707070 ;
}
.quote-container{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote{
    text-align: center;
}
.quote a{
    text-decoration: none;
    color: black;
    border: .1rem solid;
    cursor: pointer;
    padding: 14px;
}
.quote a:hover{
    font-weight: bold;
}
.footer{
    width: 100%;
    height: 50%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.footer div{
    text-align: center;
}
.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: white;
}
.footer h5{
    color: #fff;
}
.lastbox1{
    width: 35%;
    height: 100%;
    padding: 53px;
}
.lastbox1 p{
    color: #fff;
}
.lastbox2{
    width: 35%;
    height: 100%;
    padding: 55px;
}
.lastbox3{
    width: 35%;
    height: 100%;
    padding: 50px;
}
.lastbox3 a{
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    color: grey;
}
.lastbox3 a:after{
    content: "";
    position: absolute;
}
.lastbox3 a:hover{
    font-weight: lighter;
}
form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}
form button {
    border: 5px solod #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}













@media only screen and (max-width: 576px){
    .shop-now{
        position: absolute;
        top: 105%;
        left: 36%;
        background-color: black;
        padding: 10px 20px;
        border-radius: 6px;
        transform: translate3d(-50%, -50%);
    }  
    .page-section{
        width: 100%;
        height: 100%;
        background: url(Abib.webp);
        background-size: cover;
        background-position: 50%;
    }
    .footer{
        display: block;
        height: 50%;
    }
    .footer h5{
        display: none;
    }
    .lastbox2{
        display: none;
    }
    .lastbox3{
        display: none;
    }
    
    
}
@media only screen and (min-width: 576px){
    
}

@media only screen and (max-width: 768px){

}
@media screen and (max-width: 1199px) and (min-width: 992px){

}
@media only screen and (max-width: 991px){
    .right-side-container2{
        margin-top: 150px ;
    }
}