*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    background: white;
    padding: 30px 60px 20px 20px;
    border-radius: 6px;
    box-shadow: 0 5px 10px;
}
.container .contact{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .contact .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}
.contact .left-side .details{
    margin: 14px;
    text-align: center;
}
.contact .left-side .details i{
    font-size: 30px;
    color: black;
    margin-bottom: 10px;
}
.contact .left-side .details .topic{
    font-size: 18px;
    font-weight: 500 ;
}
.contact .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}
.contact .left-side .details .text-2{
    font-size: 14px;
    color: #afafb6;
}
.container .contact .right-side{
    width: 75%;
    margin-left: 90px;
}
.contact .right-side .topic-text{
    font-size: 32px;
    font-size: bold;
    color: black;
} 
.right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
}
.right-side .input-box input{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    background: #f0f1f8;
    padding: 0 15px;
}
.right-side .button{
    margin-top: 6px;
    display: inline-block;
}
.right-side .button input[type="button"]{
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 16px;
    font-size: 18px;
    background: black;
    cursor: pointer;
}




@media (max-width:950px){
    .container{
        width: 90%;
        padding: 30px 35px 40px 35px;
    }
}
@media (max-width:767px){
    .container{
        margin-right: 20px;
        height: 100%;
    }
    .container .contact{
        flex-direction: column-reverse;
    }
    .container .contact .left-side{
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .container .contact .left-side::before{
        display: none;
    }
    .container .contact .left-right{
        width: 100%;
        margin-left: 0;
    }
}