*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image-1{
    width: 100%;
}
.image-2{
    width: 100%;
}
.image-3{
    width: 100%;
}
.image-4{
    width: 100%;
}
.image-5{
    width: 100%;
}
.quote-container{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-1 p{
    text-align: center;
    font-size: 20px;
}
.box-2 p{
    font-size: 20px;
}
.box-1{
    height: 200px;
    width: 50%;
    display: inline-block;
}
.box-2{
    height: 200px;
    width: 50%;
    display: inline-block;
}
.box-2 ol{
    font-size: 20px;
}
.footer{
    width: 100%;
    height: 50%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.footer div{
    text-align: center;
}
.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: white;
}
.lastbox1{
    width: 35%;
    height: 100%;
    padding: 53px;
}
.lastbox1 p{
    color: #fff;
}
.lastbox2{
    width: 35%;
    height: 100%;
    padding: 55px;
}
.lastbox3{
    width: 35%;
    height: 100%;
    padding: 50px;
}
.lastbox3 a{
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    color: grey;
}
.lastbox3 a:after{
    content: "";
    position: absolute;
}
.lastbox3 a:hover{
    font-weight: lighter;
}
form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}
form button {
    border: 5px solod #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}






@media only screen and (max-width: 576px){
    .footer{
        display: block;
        height: 50%;
    }
    .footer h5{
        display: none;
    }
    .lastbox2{
        display: none;
    }
    .lastbox3{
        display: none;
    }
    
    
}