*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.swiper-container{
    position: relative;
    margin: 0 auto;
    width: 100%;
}
.swiper{
    margin: 0 auto;
    cursor: grab;
}
.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-button-next,
.swiper-button-prev{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 10px #ccc;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.swiper-button-next:hover{
    transform: scale(1.2) translateX(80%);
}
.swiper-button-prev:hover{
    transform: scale(1.2) translateX(-80%);
}
.swiper-button-next{
    transform: translateX(100%);
}
.swiper-button-prev{
    transform: translateX(-100%);
}
.swiper-pagination{
    transform: translate(200%);
}
.swiper-pagination-bullet
.card{
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.card .image{
    height: 150px;
    width: 150px;
    padding: 3px;
}
.card .image img{
    width: 100%;
    display: block;
}
.card a{
    text-decoration: none;
    color: red;
    
}
.description{
    color: grey;
}



